body { background-color: #eee; }
.navbar-toggler { border: none; }
.main { margin-top: 60px; }
.card .img { max-width: 100%; width: auto; height: 280px; object-fit: cover; }
.alert { border-radius: 5px solid #2c2c2c; background-color: #2c2c2c; color: white; border: none; }
.check { color: #45cb85; }
.times { color: #f00000; }
#message-alert { top: 70px; right: 10px; position: fixed; padding: 10px; }